@import "tailwindcss";

#home {
    text-align: center;
}

#logo {
    display: block;
    width: 10%;
    height: 10%;
    margin: auto;
    margin-bottom: 3vh;
    padding: 1% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}