@import "tailwindcss";

.navigation-widget button {
    @apply items-center justify-between gap-3
           px-6 py-2 rounded-lg bg-linear-to-r from-gray-400 to-gray-500
           shadow-md text-(--palette_White)  font-medium
           transition-all duration-300 ease-out
           hover:from-gray-500 hover:to-gray-600 hover:shadow-lg
           select-none text-center uppercase;
    width: 10vw;
    }