@import "tailwindcss";

.navigation-widget button {
    @apply items-center justify-between gap-3
           px-6 py-4 rounded-2xl bg-linear-to-r from-green-400 to-green-500
           shadow-md text-white font-medium
           transition-all duration-300 ease-out
           hover:from-green-500 hover:to-green-600 hover:shadow-lg
           select-none text-center uppercase;
    /* width: fit-content; */
    width: 10vw;
    }