@import "tailwindcss";

.roadmap-card {
    @apply relative items-center justify-between
           px-6 py-4 rounded-2xl bg-linear-to-r from-red-400 to-red-500
           shadow-md text-(--palette_White) font-medium
           transition-all duration-300 ease-out
           hover:from-red-500 hover:to-red-600 hover:shadow-lg
           select-none text-center hover:scale-103 active:scale-97 active:shadow-inner
           w-[50vw] md:w-[20vw] lg:w-[20vw];
}

/* Roadmap title */
.roadmap-card h1 {
    @apply text-lg font-semibold tracking-tight;
}

.roadmap-card:focus-visible {
    @apply outline-none ring-2 ring-red-300;
}